<app-nav></app-nav>

<h3 class="profile-name">{{user?.firstname}} {{user?.lastname}}</h3>

<div class="img-container">
    <img src="{{profilePic}}" alt="" width="200" height="200">
</div>

<div *ngIf="posts">
    
    <div class="post-container" *ngFor="let post of posts">
        <div class="post-feed">
            <span class="post-meta">
                <div class="user-data">
                    Posted by:
                    <br>
                    <a id="username" routerLink='/{{post.user.userId}}'>{{post.user.username}}</a>
                    <br>
                    Posted:
                    <br>
                    {{post.submitted}}
                    <br>

                </div>

            </span>

            <div>
                <p *ngIf="post.content" id="content">{{post.content}}</p>
                <img *ngIf="post.pictureLink" id="post-picture" src={{post.pictureLink}} alt="" width="345" height="260">
            </div>
        </div>
    </div>
</div>