<app-nav></app-nav>

<div id="reset-password-container">
    <h1 class="reset-header">Reset Your Password</h1>
    <div id="rp-form-container">
        <form id="reset-password-form" (submit)="changePassword()">
            <div class="form-group">
                <label for="password-token">Password Token</label>
                <input type="text" [(ngModel)]="token" class="user-input" name="token-input">
            </div>
            <div class="form-group">
                <label for="newPassword-input">Your New Password</label>
                <input type="password" [(ngModel)]="password" class="user-input" name="newPassword-input">
            </div>
            
            <div id="btn-container">
                <button type="submit" class="btn btn" id="reset-btn">Reset Password</button>
            </div>

            <div class="alert alert-warning" role="alert" id="post-alert">
                An email has been sent with your access token
            </div>
        </form>
    </div>
</div>