<div id="forgot-password-container">
    <h1 class="login-header">Change Lastname</h1>
    <div id="fp-form-container">
        
        <form id="lastname-form">
            
            <div class="form-group">
                <!--
                <label for="email-input">Old Password</label>
                <input type="text"  class="user-input" name="old-password-input">
                -->
                <label for="last-input">New Lastname</label>
                <input type="text"  class="user-input" [(ngModel)]="lastInput" name="last-input">
            </div>
            <div class="submit-container">
                <button type="submit" class="btn btn-primary" id="last-btn" (click)="changeLastName()">Change Lastname</button>
            </div>
        </form>
    
    </div>
</div>

