<app-nav></app-nav>

<div id="forgot-password-container">
    <h1 class="login-header">Forgot Password?</h1>
    <div id="fp-form-container">
        
        <form id="forgot-password-form" (submit)="resetPassword()">
            <span>
                <div class="form-group">
                    <label for="email-input">Email</label>
                    <input type="text" [(ngModel)]="email" class="user-input" name="email-input">
                </div>
                <div class="submit-container">
                    <button type="submit" class="btn btn" id="forgot-btn">Reset Password</button>
                </div>
            </span>
        </form>
    </div>

    <div class="alert alert-warning" role="alert" id="post-alert">
        Enter the email address associated with your Airee account to change your password
    </div>
</div>